{% assign person_id = seo_url | append: "/#person" %}
{% assign website_id = seo_url | append: "/#website" %}
{% assign webpage_id = canonical_url | append: "#webpage" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Person",
      "@id": {{ person_id | jsonify }},
      "name": {{ site.author.name | jsonify }},
      "url": {{ seo_url | append: "/" | jsonify }},
      "image": {{ site.og_image | prepend: "/images/" | prepend: seo_url | jsonify }},
      "jobTitle": {{ site.author.job_title | jsonify }},
      "worksFor": {
        "@type": "Organization",
        "name": {{ site.author.employer | jsonify }},
        "url": {{ site.author.employer_url | jsonify }}
      },
      "sameAs": {{ site.social.links | jsonify }}
    },
    {
      "@type": "WebSite",
      "@id": {{ website_id | jsonify }},
      "url": {{ seo_url | append: "/" | jsonify }},
      "name": {{ site.title | jsonify }},
      "inLanguage": {{ site.locale | jsonify }},
      "publisher": { "@id": {{ person_id | jsonify }} }
    },
    {
      "@type": {{ page.schema_type | default: "WebPage" | jsonify }},
      "@id": {{ webpage_id | jsonify }},
      "url": {{ canonical_url | jsonify }},
      "name": {{ page.title | default: site.title | jsonify }},
      "description": {{ page.description | default: page.excerpt | default: site.description | strip_html | strip_newlines | jsonify }},
      "inLanguage": {{ site.locale | jsonify }},
      "isPartOf": { "@id": {{ website_id | jsonify }} }
      {% if page.last_modified_at %},
      "dateModified": {{ page.last_modified_at | date_to_xmlschema | jsonify }}
      {% endif %}
      {% if page.schema_type == "ProfilePage" %},
      "mainEntity": { "@id": {{ person_id | jsonify }} }
      {% elsif page.paper %},
      "about": { "@id": {{ page.paper.url | append: "#paper" | jsonify }} }
      {% endif %}
    }
    {% if page.paper %},
    {
      "@type": "ScholarlyArticle",
      "@id": {{ page.paper.url | append: "#paper" | jsonify }},
      "url": {{ page.paper.url | jsonify }},
      "name": {{ page.paper.title | jsonify }},
      "identifier": {{ page.paper.doi | jsonify }},
      "author": [
        {% for author_name in page.paper.authors %}
        {
          "@type": "Person",
          "name": {{ author_name | jsonify }}
          {% if author_name == site.author.name %},
          "@id": {{ person_id | jsonify }}
          {% endif %}
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ],
      "publisher": {
        "@type": "Organization",
        "name": "Association for Computational Linguistics",
        "url": "https://www.aclweb.org/"
      }
    }
    {% endif %}
  ]
}
</script>
